@model MediaCommMvc.Web.Photos.ViewModels.PhotoIndexViewModel

@{
    ViewBag.Title = Resources.Photos.PhotosTitle;
}

<h2>Photos ;)</h2>

<div>

    @Html.ActionLink(Resources.Photos.Upload, MVC.Photos.Upload(), new { id = "upload-button", @class = "btn btn-default btn-sm" })

</div>