@model MediaCommMvc.Web.ViewModels.Forum.EditPostViewModel
<div id="reply">
    @using (Html.BeginForm("reply", "forum"))
    {
        @Html.HiddenFor(m => m.Text)

        @Html.HiddenFor(m => m.PostId)

        <div contenteditable id="edit-post-input" class="editor well well-sm">

        </div>
        @Html.ValidationMessageFor(m => m.Text)
        
        <button type="submit" class="btn btn-primary">@Resources.General.Save</button>
    }
</div>