@model MediaCommMvc.Web.ViewModels.Forum.ReplyViewModel

<div id="reply">
    @using (Html.BeginForm("reply", "forum"))
    {
        @Html.HiddenFor(m => m.Text)

        @Html.HiddenFor(m => m.TopicId)

        <div contenteditable id="reply-input" class="editor well well-sm">

        </div>
        @Html.ValidationMessageFor(m => m.Text)
        
        <button type="submit" class="btn btn-primary">@Resources.Forums.Reply</button>
    }
</div>