@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(Resources.General.Welcome + " " + User.Identity.Name, MVC.Account.EditMyProfile())
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Navigation.LogOn, MVC.Account.Login(), htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
