body {
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width {
    width: 100%;
    max-width: 1200px;
}

/* Start validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* End validation helpers */

/* Start global */

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.panel-heading[data-toggle="collapse"] {
    cursor: pointer;
}

@media (max-width: 767px) {
    h3 {
        font-size: 18px !important;
    }

    .navbar-nav > li > a, .navbar-brand {
        padding-top: 8px !important;
        padding-bottom: 0 !important;
        height: 34px !important;
    }

    .navbar {
        min-height: 34px !important;
    }

    .navbar-toggle .icon-bar {
        /*height: 1px !important;*/
    }

    .navbar-toggle {
        padding: 4px 6px !important;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
    }

    #new-topic-button {
        margin: 2px 0 0 0 !important;
    }
}



.pagination-sm a {
    /*padding: 4px 8px !important;*/
}

/* End global */


/* Start Forum Overview */

.forum-legend {
    margin-top: 6px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

    .forum-legend i {
        margin: 2px;
    }

#new-topic-button {
    margin: 14px 0 0 0;
}

.topic-additional-info {
    font-size: 12px !important;
}

#forum-topics-container table {
    margin-bottom: 0;
}

#forum-topics-container {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    margin-top: 14px;
}

#forum-topics td {
    padding-bottom: 4px;
    padding-top: 4px;
    vertical-align: middle;
}

#forum-topics .topic-icon {
    width: 1px;
    padding-top: 9px !important
}

#forum-topics .topic-post-count {
    width: 32px;
    /*min-width: 32px;*/
    text-align: center;
}

#forum-topics .topic-title {
    /*min-width: 150px;*/
}

    #forum-topics .topic-title.unread {
        font-weight: bold;
    }


#forum-topics .topic-pager .btn {
    padding: 0 3px;
    margin-right: 4px;
    font-size: 11px !important;
}

#forum-topics .topic-last-post {
    width: 125px;
    /*min-width: 100px;*/
    font-size: 12px;
    padding: 2px;
    padding-left: 8px;
}

    #forum-topics .topic-last-post div {
        line-height: 17px;
    }

    #forum-topics .topic-author {
    width: 125px;
    font-size: 12px;
    padding: 2px;
    padding-left: 8px;
}

    #forum-topics .topic-author div {
        line-height: 17px;
    }
/* End Forum Overview */

/* Start Topic Detail View */

#topic-posts {
    border-radius: 6px;
}

#poll th {
    font-size: 12px !important;
}

#topic-title {
    margin-top: 24px;
}

#topic-hidden-for {
    margin-bottom: 6px;
}

.post-header {
    margin-bottom: 6px;
}

.post-actions {
    margin-top: 2px;
}

    .post-actions > div {
        margin-top: 4px;
    }

        .post-actions > div.pull-right {
            margin-left: 4px;
        }

        .post-actions > div.pull-left {
            margin-right: 4px;
        }

    .post-actions .label {
        font-weight: normal;
        font-size: 13px;
    }

#topic-posts td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.approvals > div {
    margin-right: 4px;
}

/* End Topic Detail View*/

/* Start Create Topic */

.edit-topic {
    margin-top: 10px;
}

.editor {
    min-height: 100px;
    max-height: 250px;
    overflow: auto;
}


/* End Create Topic */

/* Start Edit Post */

#edit-post {
    margin-top: 30px;
}

/* End Edit Post */

/* Start Photo Upload */

.photo-upload-album {
    margin: 20px 0;
}

/* End Photo Upload */

/* Start photo album index */

.photo-album-row {
    cursor: pointer;
}

.photo-upload-button-container {
    margin-top: 8px;
    margin-bottom: 10px;
}


/* End Album index */

/* Start photo album  */

/* see http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div */

.photo-thumbnail-container {
    display: inline-block;
    width: 177px;
    height: 177px;
    border: 1px solid lightgray;
    position: relative;
}

.photo-thumbnail-container img {
    max-height: 170px;
    max-width: 170px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
}

.pswp__button--download, .pswp__button--download:before {
    background: none;
  /*ckground-size: 20px 20px;*/
  width: 44px;
  height: 44px;
}

/* End photo album  */


/* Start user list*/

#user-list {
    margin-top: 10px;
}

.user-table {
    margin-top: 10px;
}

/* End user list*/

/* Start user profile */

.user-profile td:nth-child(1) {
    text-align: right;
}

.user-profile td:nth-child(1):after {
    content: ":";
}


.user-profile td:nth-child(2) {
    font-weight: bold;
}

/* End user profile */