body {
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width {
    width: 100%;
    max-width: 1200px;
}

/* Start validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* End validation helpers */

/* Start global */

.panel-heading[data-toggle="collapse"] {
    cursor: pointer;
}

/* End global */


/* Start Forum Overview */

.forum-legend {
    margin-top: 6px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

    .forum-legend i {
        margin: 2px;
    }

#new-topic-button {
    margin: 16px 0 0 0;
}

.topic-additional-info {
    font-size: 10px !important;
    line-height: 10px;
}

#forum-topics-container table {
    margin-bottom: 0;
}

#forum-topics-container {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    margin-top: 20px;
}

#forum-topics .topic-icon {
    width: 1px;
}

#forum-topics .topic-post-count {
    width: 32px;
    /*min-width: 32px;*/
    text-align: center;
    vertical-align: central;
}

#forum-topics .topic-title {
    /*min-width: 150px;*/
}

    #forum-topics .topic-title.unread {
        font-weight: bold;
    }


#forum-topics .topic-pager .btn {
    padding: 0 3px;
    font-size: 10px !important;
}

#forum-topics .topic-last-post {
    width: 125px;
    /*min-width: 100px;*/
    font-size: 11px;
    padding: 2px;
    padding-left: 8px;
}

    #forum-topics .topic-last-post div {
        line-height: 17px;
    }

    #forum-topics .topic-author {
    width: 125px;
    font-size: 11px;
    padding: 2px;
    padding-left: 8px;
}

    #forum-topics .topic-author div {
        line-height: 17px;
    }
/* End Forum Overview */

/* Start Topic Detail View */

#topic-posts {
    border-radius: 6px;
}

#poll th {
    font-size: 12px !important;
}

#topic-title {
    margin-top: 24px;
}

#topic-hidden-for {
    margin-bottom: 6px;
}

.post-header {
    margin-bottom: 6px;
}

.post-actions {
    margin-top: 2px;
}

    .post-actions > div {
        margin-top: 4px;
    }

        .post-actions > div.pull-right {
            margin-left: 4px;
        }

        .post-actions > div.pull-left {
            margin-right: 4px;
        }

    .post-actions .label {
        font-weight: normal;
        font-size: 13px;
    }

#topic-posts td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.approvals > div {
    margin-right: 4px;
}

/* End Topic Detail View*/

/* Start Create Topic */

.edit-topic {
    margin-top: 10px;
}

.editor {
    min-height: 100px;
    max-height: 250px;
    overflow: auto;
}


/* End Create Topic */

/* Start Edit Post */

#edit-post {
    margin-top: 30px;
}

/* Start Edit Post */
